* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightBlue: #056ce2;
    --blue: #021c83;
    --wihte: #ffffff;
    --footer: #1a3cc3;
}

body {
    background-color:rgb(0, 89, 255);
     min-width: 100vw;
    min-height: 100vh; 

}

.container-header {
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
    
}

.header h1 {
    padding: .5rem;
    color: var(--wihte);
}
.link {
    display: flex;
    flex-direction: row;
   gap: 2rem;
   flex-wrap: wrap;
}

.link a {
    border: solid 1px var(--wihte);
    color: var(--wihte);
    padding: .1rem 1rem;
    gap: .1rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: var(--lightBlue);
}
/*--------------------------------------------------------*/

.container-form form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: .5rem;
    background-color: var(--lightBlue);
    
    
}

.form div {
    display: flex;
    flex-direction: row;
    padding: .1rem;
    color: var(--wihte);
    border-radius: 2rem;
    gap: 1rem;
    
}

.destino-personas select {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: none;
    padding: .6rem;
}



.salida-regreso {
    display: flex;
    align-items: center;

}



.salida-regreso input {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: none;
    padding: .3rem .6rem;
}

main {
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center;
}

.caja{
    padding-top: 1rem;
    max-width: 85%;
    display: flex;
     justify-content: space-evenly; 
    justify-content: center;
    flex-wrap: wrap;
    gap: .9rem 1rem;
    margin-bottom: 1rem;  
} 

.caja div{
    width: 170px;
    height: 140px;
    border-radius: 150px;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
}
.caja-cuatro h2 {
    padding: .3rem;
    background-color: var(--wihte);
}
.caja-cuatro img {
    border-radius: auto 10px auto 10px;
    -webkit-border-radius: auto 10px auto 10px;
    -moz-border-radius: auto 10px auto 10px;
    -ms-border-radius: auto 10px auto 10px;
    -o-border-radius: auto 10px auto 10px;
}

.caja img {
    width: 170px;
    height: 140px;
    object-fit: fill;
}

.footer {
    background-color: var(--footer);
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 2rem;

}


.footer hr {
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    background-color: #20cd46;
}



